<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
    
</head>

<body>
    <input type="button" onclick="location.href='http://localhost:3000/register';" value="SIGN IN">

    <input type="button" onclick="location.href='http://localhost:3000/login';" value="LOG IN">

    <input type="button" onclick="location.href='http://localhost:3000/profile';" value="YOUR PROFILE">

    <input type="button" onclick="location.href='http://localhost:3000/post';" value="NEW POST">

    <footer>
        <p herf="AboutUS.html">About us</p>
        <p>Copyright © 2018</p>
    </footer>
</body>

</html>