<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
    <script src="main.js"></script>
</head>
<header></header>
<body>
    <div id="container">
        <fieldset>
            <legend>Login</legend>
            <label for="email"></label>
            <input id="email" placeholder="Email" autofocus required>
            <br>
            
            <label for="password"></label>
            <input id="password" placeholder="Password" autofocus required>
            <br>
        </fieldset>
    </div>
    <input id="login" value="Log In" type="submit" onclick="handler.create()">
    <!-- </form> -->
    <footer>
        <p herf="AboutUS.html">About us</p>
        <p>Copyright © 2018</p>
    </footer>
    
</body>
</html>

