<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!-- <script src="main.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" herf="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNAv" aria-label="Toggle navigation">
            <span class="navbar-togggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" herf="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" herf="#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='http://localhost:3000/register';">Sing up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='http://localhost:3000/login';">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='http://localhost:3000/profile';">Your Profile</a>
                </li>
            </ul>

        </div>
    </nav>
    <h1 id="postTitle" type="postTitle" class="text-center">{{title}}</h1>
    <div class="container">
        <div class="row">
            <div class="form-inline col-md-12 ">
                <div class="form-group text-center">
                    <h3 id="postType">{{need}}</h3>
                    <h3 id="postLocation">{{location}}</h3>
                    <h3 id="date">{{date}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-7">
                    <div id="dropBox" class="drop_box">
                        <br/>
                        <br/>
                        <br/>
                        <p>Drop your picture here...</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="description">Describe briefly your post here: </label>
                        <textarea name="description" class="form-control" id="post"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small cyan darken-3 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-5">
                    <div class="mb-5 flex-center">
                        <a class="fb-ic">
                            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center" herf="AboutUS.html">About us</p>
        <div class="footer-copyright text-center py-3">Copyright © 2018</div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>