<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/profile.css" />
    <script src="main.js"></script>
</head>

<body>
    <fieldset>
        <legend>Profile</legend>
        <label for="commentsAboutYou">About me
        </label>
        <textarea id="commentsAboutYou"></textarea>
        <div id="dropBox">
            <div>Drop your picture here...</div>
        </div>
    </fieldset>
    <footer>
        <p herf="AboutUS.html">About us</p>
        <p>Copyright © 2018</p>
    </footer>
</body>

</html>