<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/register.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" herf="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNAv" aria-label="Toggle navigation">
        <span class="navbar-togggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" onclick="location.href='http://localhost:3000';">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" herf="#">About us</a>
            </li>
        </ul>

    </div>
</nav>


<header>
    <h1>Register page</h1>
</header>

<body>
    <!-- <form action="localhost:port/endpoint" method="POST" name="myForm"> -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-4">
                <div class="card" style="width: 22rem;">
                    <div class="card-body">
                        <div class="card-title">Contact details</div>
                        <label for="firstName">First name
                            <em>*</em>
                        </label>
                        <input id="firstName" placeholder="John" autofocus required>
                        <label for="lastName">Last name
                            <em>*</em>
                        </label>
                        <input id="lastName" placeholder="Smith" autofocus required>
                        <label for="userName">User name
                            <em>*</em>
                        </label>
                        <input id="userName" placeholder="e.i. John" autofocus required>
                        <label for="password">Password
                            <em>*</em>
                        </label>
                        <input id="password" placeholder="flower123" autofocus required>
                        <label for="email">E-mail
                            <em>*</em>
                        </label>
                        <input id="email" placeholder="johnsmith@gmail.com" autofocus required>
                        <label for="phoneNumber">Phone number
                        </label>
                        <input id="phoneNumber" placeholder="+32 111 22 33 44">
                        <br>
                        <label for="location">Location
                            <em>*</em>
                        </label>
                        <input id="location" placeholder="Brussels" autofocus required>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-4">
                <div id="dropBox" class="card" style="width: 22rem; height: 15rem">
                    <div class="card-body">
                        <div class="card-title">Drop your picture here...</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-4">
                <div id="dropBox" class="card" style="width: 22rem; height: 15rem">
                    <div class="card-body">
                        <div class="card-title">Are you member of organization, an organization or a private user?</div>
                        <label for="private user">
                            <input id="PUser" type="checkbox">Private user</label>
                        <label for=" member organization">
                            <input id="MemberOrg" type="checkbox">Member of Organization</label>
                        <select id="Organizations">
                            <option value="firstOrg">First organization</option>
                            <option value="secondOrg">Second organization</option>
                            <option value="thirdOrg">Third organization</option>
                            <label for="organization">
                                <input id="Org" type="checkbox">Organization</label>
                            <select id="Organizations">
                                <option value="firstOrg">First organization</option>
                                <option value="secondOrg">Second organization</option>
                                <option value="thirdOrg">Third organization</option>
                            </select>
                            <br>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-4">
                <div id="dropBox" class="card" style="width: 22rem;">
                    <div class="card-body">
                        <div class="card-title">More details</div>
                        <label for="commentsAboutYou">Tell us about you
                        </label>
                        <textarea id="commentsAboutYou"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-4">
                <input class="btn btn-primary" id="submit" value="Create" type="submit" onclick="registration.create()">
                <!-- </form> -->
                <footer>
                    <p herf="AboutUS.html">About us</p>
                    <p>Copyright © 2018</p>
                </footer>
            </div>
        </div>
    </div>
    <form id="logInFrom" action="processAplication.cgi" novalidate></form>
    <input type="submit" value="Keep for later" formnovalidate>

    <!-- <script src="main.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="static/js/registration.js"></script>
    <!-- <script src="static/js/handler.js"></script>
     <script src="static/js/controller.js"></script> -->
    <!-- <script src="./Scripts/view.js"></script>
     <script src="./Scripts/init.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>